
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//                                                  APP
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

.uify-wiki-body .documentation-api {

  padding: 20px;
  font-size: 1em;

  .link-to-squyntax {
    position: fixed;
    .back.base();
    top: 0;
    right: 5%;
    width: 60%;
    text-align: center;
    font-size: 120%;
    a { .front.primaryAndHover() }
  }

  .license {
    text-align: center;
  }

}

// CURRENTLY VISIBLE METHOD
.current_method_box {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: @baseTransparentLess;
  color: @baseContrast;
  font-size: 150%;
  padding: 1em;
  pointer-events: none;
}

// FIRST LEVEL METHOD AND TITLE
.documentation-api > .method {
  & > .title {
    text-align: center;
    padding-top: 0;
  }
  & > .desc > .desc-comment {
    text-align: center;
    font-size: 2em;
    margin: 2em 0;
    display: block;
  }
}

//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//                                                  SUBMETHODS LEVELS
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

.uify-wiki {

  .uify-wiki-sidebar {
    .sidebar-subtitles {

      .sidebar-subtitle-level_1 {
        font-size: 1.6em !important;
        padding-left: 8px !important;
      }
      .sidebar-subtitle-level_2 {
        font-size: 1.4em !important;
        // color: @secondary !important;
        padding-left: 16px !important;
      }
      .sidebar-subtitle-level_3 {
        font-size: 1.2em !important;
        padding-left: 25px !important;
      }
      .sidebar-subtitle-level_4 {
        font-size: 1em !important;
        padding-left: 30px !important;
      }
      .sidebar-subtitle-level_5 {
        font-size: 0.8em !important;
        padding-left: 35px !important;
      }

      a.sidebar-subtitle.colored_primary   { text-decoration: underline @primary 3px;   }
      a.sidebar-subtitle.colored_secondary { text-decoration: underline @hover 3px;     }
      a.sidebar-subtitle.colored_tertiary  { text-decoration: underline @secondary 3px; }

    }
  }

  .uify-wiki-body {
    .title {
      font-size: 5em;
      font-weight: bold;
      cursor: pointer;
    }

    .submethods-1 {
      .title {
        font-size: 3.5em;
        font-family: Lato-Bold;
      }
      margin-left: 0;
    }
    .submethods-2 {
      .title { font-size: 2em; }
      margin-left: 1em;
    }
    .submethods-3 {
      .title { font-size: 1.5em; }
      margin-left: 2em;
    }
    .submethods-4 {
      .title { font-size: 1.2em; }
      margin-left: 3em;
    }
    .submethods-5 {
      .title { font-size: 1em; }
      margin-left: 4em;
    }
  }

}

//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//                                                  DESCRIPTIONS
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

.method {

  padding: 0.3em 0 0.3em 1em;

  //
  //                              TITLEBAR

  .titlebar {

    display: flex;
    align-items: center;

    .title_and_comment {
      .comment {
        pre {
          display: inline;
          font-size: 0.8em;
        }
      }
    }

    .submethods-arrow {
      font-size: 120%;
      color: grey;
      cursor: pointer;
      padding-left: 1em;
      flex: 1;
      text-align: right;
      display: flex;
      align-items: center;
      span { flex: 1; }
      &:after {
        content: "▼"; // ◄ ► ▲▼◀▶
        padding-left: .5em;
      }
      &.wrappon:after { content: "◀"; }
    }

  }

  //
  //                              WRAPPED

  &.wrapped > .desc { display: none; }

  //
  //                              BORDERED

  &.bordered {
    border-left: black solid 1em;
    & > .titlebar .title { margin-left: -.5em; }
  }
  &.bordered.bordered_primary {
    & > .titlebar .title { color: @primary; }
    border-left-color: @primary;
  }
  &.bordered.bordered_secondary {
    & > .titlebar .title { color: @hover; }
    border-left-color: @hover;
  }
  &.bordered.bordered_tertiary {
    & > .titlebar .title { color: @secondary; }
    border-left-color: @secondary;
  }

  //
  //                              DESC

  .desc {
    font-size: 1em;
    margin-top: 0.5em;
    &.missing { color: #F00; }

    & > p {

      line-height: 0.5;
      margin: 0;
      width: 100%;
      font-family: Lato;

      & > * {
        line-height: normal;
      }

      &.key-description {
        color: @primary; // #F0F
        .desc-text {
          font-size: 110%;
          font-family: inherit;
          white-space: pre-wrap;
        }
      }
      &.key-arguments {
        color: @baseContrast; // #F0A

      }
      &.key-return {
        color: @secondary; // #A0A
      }
      &.key-examples {
        color: @hover; // #0F0
        .desc-text {
          display: block;
          background-color: rgba(0, 0, 0, 0.5);
        }
        div.desc-text { padding-top: 0.5em; }
      }
      // &.key-type { color: #FF0; }
      // &.key-types { color: #FA0; }

    }

    .desc-title {
      font-size: 120%;
      font-weight: bold;
    }
    .desc-comment {
      font-size: 1.5em;
    }
    .desc-text {
      // make it like a pre to jump lines and handle code spacings
      unicode-bidi: embed;
      font-family: @basefontMonospace;
      white-space: pre;
      overflow-y: auto;
    }
    span.desc-text {
      padding: 0.3em 0.6em;
      margin-left: 0.5em;
    }
    div.desc-text {
      padding: 0em 2em 1em 2em;
    }

    .clickable {
      // cursor pointer is done by stylectrode definition of clickable
      color: inherit;
      text-decoration: underline;
      &:hover {
        color: @hover;
      };
    }

  }

  //                              ¬
  //

}

//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
