
@import "uify/styles/index";

.uify-wiki-body .documentation-demo {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  position: absolute;

  .demo-iframe {
    position: absolute;
    border: none;
    height: 100%;
    width: 100%;
    margin: 0;
  }

  .demo-index {
    padding: 2em;
    color: black;
    font-size: 1.2em;

    .title {
      font-size: 2em;
      text-align: center;
    }
    .intertitle {
      font-size: 1.5em;
      padding: 1em;
    }
    a {
      margin-left: 3em;
      display: block;
      .front.primaryAndHover() !important;
    }

  }

}
