
@import "uify/styles/extension/swiper";

.uify-wiki-body .documentation-images {

  &.swiper_container {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .image {
    margin-bottom: 3em;
    &:last-child { margin-bottom: 0; }
    img { width: 100%; }
    div {
      font-size: 1.5em;
      font-family: @basefontBold;
      text-align: center;
    }
  }

}
