
@import "markdownify/styles/dark";
@import "uify/styles/index";
@import "uify/styles/extension/wiki";

@import "api";
@import "demo";
@import "images";
@import "markdown";

.uify-wiki-body {
  padding: 1em;

  .uify-wiki-page-abstract {
    .title a {
      color: @baseContrast;
      .front.hover();
    }
  }

}
